<!-- HEADER -->
<div class="bg-primary p-4">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-light shadow-sm" style="visibility: hidden">Create New Topic +</button>
  </div>
  <a class="d-flex justify-content-center" href="/main">
    <img src="../public/assets/logo.png" alt="CampLit" class="img-fluid">
  </a>
</div>
<!-- MAIN -->
<main class="container pt-4 d-flex justify-content-center pt-5">
  <form class="w-50">
    <div class="form-group">
      <label for="topic">Create Topic</label>
      <input class="form-control" id="topic">
    </div>
    <a href="/create" type="submit" class="btn btn-warning shadow-sm create-topic">Create Topic</a>
  </form>
</main>