<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>CampLit</title>
</head>
<body class="bg-light">
  <!-- HEADER -->
  <div class="bg-primary p-4">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-light shadow-sm" style="visibility: hidden">Create New Topic +</button>
    </div>
    <h1 class="display-4 text-center font-weight-bold text-white pb-2">CampLit</h1>
  </div>
  <!-- MAIN -->
  <main class="container pt-4 d-flex justify-content-center pt-5">
    <form class="w-50">
      <div class="form-group">
        <label for="topic">Create Topic</label>
        <input class="form-control" id="topic">
      </div>
      <button type="submit" class="btn btn-warning shadow-sm">Create Topic</button>
    </form>
  </main>
</body>
</html>